aiohttp==3.8.1
awkward==1.9.0rc5
cython==0.29.30
fsspec==2022.5.0
jax==0.3.13
jaxlib==0.3.10
matplotlib==3.5.2
numba==0.55.2
numexpr==2.8.1
numpy==1.22.4
pandas==1.4.2
pyarrow==8.0.0
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
